<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin 2 - Detail</title>

    <!-- Custom fonts for this template-->
    <link href="/admin/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
            href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
            rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="/admin/css/sb-admin-2.min.css" rel="stylesheet">

    <style>
        .error{
            width: 100%;
            color: red;
            font-size: 15px;
            padding-top: 10px;
        }
    </style>

</head>

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <ul th:replace="~{admin/menu :: #accordionSidebar}"></ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <nav th:replace="~{admin/menu :: #topbar}"></nav>
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- DataTales Example -->
                <div class="card shadow mb-4">

                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">Thông tin user</h6>
                    </div>
                    <div class="col-md-12 my-2">
                        <form class="row" id="account-info">
                            <div class="col-5 mx-4 my-2">
                                <div class="form-group input-row pt-2">
                                    <label for="info-name">Họ và tên</label>
                                    <input type="text" class="form-control" id="info-name" name="info-name"
                                           placeholder="Enter name">
                                </div>
                            </div>
                            <div class="col-5 mx-4 my-2">
                                <div class="form-group input-row pt-2">
                                    <label for="info-email">Email</label>
                                    <input type="text" class="form-control" id="info-email" placeholder="Enter email"
                                           disabled>
                                </div>
                            </div>
                            <div class="col-5 mx-4 my-2">
                                <div class="form-group input-row pt-2">
                                    <label for="info-phone">Số điện thoại</label>
                                    <input type="text" class="form-control" id="info-phone" name="info-phone"
                                           placeholder="Enter phone">
                                </div>
                            </div>
                            <div class="col-5 mx-4 my-2">
                                <div class="form-group input-row pt-2">
                                    <label>Mật khẩu</label>
                                    <div class="">
                                        <button type="button" class="btn btn-warning" data-toggle="modal"
                                                data-target="#modal-change-password">
                                            Đổi mật khẩu
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-5 mx-4 my-2">
                                <a href="/admin/dashboard" class="btn btn-secondary btn-back">
                                    Quay lại
                                </a>
                                <button type="button" class="btn btn-primary" id="btn-update">Cập nhật</button>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <!-- Modal đổi mật khẩu-->
        <div class="modal fade" id="modal-change-password" style="display: none;" aria-hidden="true">
            <div class="modal-dialog">
                <form class="modal-content" id="change-pass-form">
                    <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabel">Đổi mật khẩu</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body" id="change-password">
                        <div class="mb-3 input-row">
                            <label for="old-password" class="col-form-label">Mật khẩu cũ</label>
                            <input type="password" id="old-password" name="old-password" class="form-control"/>
                        </div>
                        <div class="mb-3 input-row">
                            <label for="new-password" class="col-form-label">Mật khẩu mới</label>
                            <input type="password" id="new-password" name="new-password" class="form-control"/>
                        </div>
                        <div class="mb-3 input-row">
                            <label for="re-password" class="col-form-label">Xác nhận mật khẩu mới</label>
                            <input type="password" id="re-password" name="re-password" class="form-control"/>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                        <button type="button" class="btn btn-primary" id="btn-change-password">Xác nhận</button>
                    </div>
                </form>
            </div>
        </div>

        <!-- Footer -->
        <footer class="sticky-footer bg-white">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span>Copyright &copy; HTQ Shop 2023</span>
                </div>
            </div>
        </footer>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <a class="btn btn-primary" href="/admin/logout">Logout</a>
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap core JavaScript-->
<script src="/admin/vendor/jquery/jquery.min.js"></script>
<script src="/admin/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="/admin/vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="/admin/js/sb-admin-2.min.js"></script>

<!-- Page level plugins -->
<script src="/admin/vendor/chart.js/Chart.min.js"></script>


<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<!--    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"-->
<!--            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"-->
<!--            crossorigin="anonymous"></script>-->
<!--    <script src="https://code.jquery.com/jquery-3.6.3.js"-->
<!--            integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM=" crossorigin="anonymous"></script>-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.css"
      integrity="sha512-3pIirOrwegjM6erE5gPSwkUzO+3cTjpnV9lexlNZqvupR64iZBnOOTiiLPb9M36zpMScbmUNIcHUqKD47M719g=="
      crossorigin="anonymous" referrerpolicy="no-referrer" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"
        integrity="sha512-VEd+nq25CkR676O+pLBnDW09R7VQX9Mdiij052gVCp5yVH3jGtH70Ho/UUv4mJDsEdTvqRCFZg0NKGiojGnUCw=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script src="/admin/js/custom/toastr-config.js"></script>
<script src="/admin/js/custom/detail.js"></script>
<script src="/admin/js/custom/validate-info.js"></script>

</body>

</html>