<!doctype html>
<html lang="en">

<!-- Head -->

<head>
    <!-- Page Meta Tags-->
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="keywords" content="">

    <!-- Custom Google Fonts-->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
            href="https://fonts.googleapis.com/css2?family=Oswald:wght@500;600&family=Roboto:wght@300;400;700&display=auto"
            rel="stylesheet">

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="/web/img/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/web/img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/web/img/favicon/favicon-16x16.png">
    <link rel="mask-icon" href="/web/img/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <!-- Vendor CSS -->
    <link rel="stylesheet" href="/web/css/libs.bundle.css"/>

    <!-- Main CSS -->
    <link rel="stylesheet" href="/web/css/theme.bundle.css"/>

    <!-- Fix for custom scrollbar if JS is disabled-->
    <noscript>
        <style>
            /**
          * Reinstate scrolling for non-JS clients
          */
            .simplebar-content-wrapper {
                overflow: auto;
            }
        </style>
    </noscript>

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/web/custom/css/quantitybox.css"/>

    <!-- Page Title -->
    <title>HTQ Shop</title>

</head>

<body class="">

<!-- Main Section-->
<section class="mt-0 overflow-lg-hidden">
    <!-- Page Content Goes Here -->
    <div class="container">
        <div class="row g-0" style="min-height: 100vh">
            <div class="col-12 col-lg-7 pt-5 pt-lg-10">
                <div class="pe-lg-5">
                    <!-- Logo-->
                    <a class="navbar-brand fw-bold fs-3 flex-shrink-0 mx-0 px-0" href="/shop">
                        <div class="d-flex align-items-center">
                            <!-- <svg class="f-w-7" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 77.53 72.26">
                                <path
                                    d="M10.43,54.2h0L0,36.13,10.43,18.06,20.86,0H41.72L10.43,54.2Zm67.1-7.83L73,54.2,68.49,62,45,48.47,31.29,72.26H20.86l-5.22-9L52.15,0H62.58l5.21,9L54.06,32.82,77.53,46.37Z"
                                    fill="currentColor" fill-rule="evenodd" />
                            </svg> -->
                            <picture class="f-w-16">
                                <img class="img-fluid d-table mx-auto" src="/web/img/logos/logo.svg" alt="">
                            </picture>
                        </div>
                    </a>
                    <!-- / Logo-->
                    <nav class="d-none d-md-block">
                        <ul
                                class="list-unstyled d-flex justify-content-start mt-4 align-items-center fw-bolder small">
                            <li class="me-4"><a class="nav-link-checkout active" href="/shop/cart">Giỏ hàng</a>
                            </li>
                            <li class="me-4"><a class="nav-link-checkout " href="/shop/checkout" id="checkout-link">Thông tin giao hàng</a>
                            </li>
<!--                            <li class="me-4"><a class="nav-link-checkout "-->
<!--                                                href="/shop/checkout/shipping">Shipping</a></li>-->
                            <li><a class="nav-link-checkout nav-link-last "
                                   href="/shop/checkout/payment" id="payment-link">Phương thức thanh toán</a></li>
                        </ul>
                    </nav>
                    <div class="mt-5">
                        <h3 class="fs-5 fw-bolder mb-0 border-bottom pb-4">Giỏ hàng</h3>
                        <div class="table-responsive">
                            <table class="table align-middle">
                                <tbody class="border-0" id="cart-items">
<!--                                 Cart Item-->
<!--                                <div class="row mx-0 py-4 g-0 border-bottom">-->
<!--                                    <div class="col-2 position-relative">-->
<!--                                        <picture class="d-block border">-->
<!--                                            <img class="img-fluid"-->
<!--                                                 src="/web/img/products/product-cart-1.jpg"-->
<!--                                                 alt="HTML Bootstrap Template by Pixel Rocket">-->
<!--                                        </picture>-->
<!--                                    </div>-->
<!--                                    <div class="col-9 offset-1">-->
<!--                                        <div>-->
<!--                                            <h6 class="justify-content-between d-flex align-items-start mb-2">-->
<!--                                                Nike Air VaporMax 2021-->
<!--                                                <button type="button"><span>×</span></button>-->
<!--                                            </h6>-->
<!--                                            <div class="d-block text-muted fw-bolder text-uppercase fs-9">-->
<!--                                                <span id="product-size">Size: 9</span> /-->
<!--                                                <span id="product-color">Màu: Blue</span>-->
<!--                                            </div>-->
<!--                                            <div class="qty-input">-->
<!--                                                <button class="qty-count qty-count&#45;&#45;minus" data-action="minus"-->
<!--                                                        type="button" onclick="changeBtn(this)">- -->
<!--                                                </button>-->
<!--                                                <input class="product-qty" type="number" name="product-qty" min="0"-->
<!--                                                       max="10" value="1" onchange="changeQtyValue(this)">-->
<!--                                                <button class="qty-count qty-count&#45;&#45;add" data-action="add"-->
<!--                                                        type="button" onclick="changeBtn(this)">+-->
<!--                                                </button>-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                        <p class="fw-bolder text-end text-muted m-0">$85.00</p>-->
<!--                                    </div>-->
<!--                                </div> &lt;!&ndash; / Cart Item&ndash;&gt;-->
                                <!-- Cart Item-->
<!--                                <div class="row mx-0 py-4 g-0 border-bottom">-->
<!--                                    <div class="col-2 position-relative">-->
<!--                                        <picture class="d-block border">-->
<!--                                            <img class="img-fluid"-->
<!--                                                 src="/web/img/products/product-cart-2.jpg"-->
<!--                                                 alt="HTML Bootstrap Template by Pixel Rocket">-->
<!--                                        </picture>-->
<!--                                    </div>-->
<!--                                    <div class="col-9 offset-1">-->
<!--                                        <div>-->
<!--                                            <h6 class="justify-content-between d-flex align-items-start mb-2">-->
<!--                                                Nike ZoomX Vaporfly-->
<!--                                                <i class="ri-close-line ms-3"></i>-->
<!--                                            </h6>-->
<!--                                            <span class="d-block text-muted fw-bolder text-uppercase fs-9">Size:-->
<!--                                                        11 / Qty: 1</span>-->
<!--                                        </div>-->
<!--                                        <p class="fw-bolder text-end text-muted m-0">$125.00</p>-->
<!--                                    </div>-->
<!--                                </div> &lt;!&ndash; / Cart Item&ndash;&gt;-->
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-5 bg-light pt-lg-10 aside-checkout pb-5 pb-lg-0 my-5 my-lg-0">
                <div class="p-4 py-lg-0 pe-lg-0 ps-lg-5">
                    <div class="pb-4 border-bottom">
                        <div class="d-flex flex-column flex-md-row justify-content-md-between mb-4 mb-md-2">
                            <div>
                                <p class="m-0 fw-bold fs-5">Tạm tính</p>
<!--                                <span class="text-muted small">Inc $45.89 sales tax</span>-->
                            </div>
                            <p class="m-0 fs-5 fw-bold" id="total-price">$422.99</p>
                        </div>
                    </div>
<!--                    <div class="py-4">-->
<!--                        <div class="input-group mb-0">-->
<!--                            <input type="text" class="form-control" placeholder="Enter coupon code">-->
<!--                            <button class="btn btn-secondary btn-sm px-4">Apply</button>-->
<!--                        </div>-->
<!--                    </div>-->
                    <a href="/shop/checkout" class="btn btn-dark w-100 text-center" role="button" id="next-to-checkout">Thanh toán</a>
                </div>
            </div>
        </div>
    </div>
    <!-- /Page Content -->
</section>
<!-- / Main Section-->

<!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.3.js"
            integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.css"
      integrity="sha512-3pIirOrwegjM6erE5gPSwkUzO+3cTjpnV9lexlNZqvupR64iZBnOOTiiLPb9M36zpMScbmUNIcHUqKD47M719g=="
      crossorigin="anonymous" referrerpolicy="no-referrer" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"
        integrity="sha512-VEd+nq25CkR676O+pLBnDW09R7VQX9Mdiij052gVCp5yVH3jGtH70Ho/UUv4mJDsEdTvqRCFZg0NKGiojGnUCw=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<!-- Theme JS -->
<!-- Vendor JS -->
<script src="/web/js/vendor.bundle.js"></script>

<!-- Theme JS -->
<script src="/web/js/theme.bundle.js"></script>

<script src="/web/custom/js/cart.js"></script>
<!--<script src="/web/custom/js/quantitybox.js"></script>-->

</body>

</html>