<!doctype html>
<html lang="en">

<!-- Head -->

<head>
    <!-- Page Meta Tags-->
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="keywords" content="">

    <!-- Custom Google Fonts-->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
            href="https://fonts.googleapis.com/css2?family=Oswald:wght@500;600&family=Roboto:wght@300;400;700&display=auto"
            rel="stylesheet">

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="/web/img/favicon/apple-touch-icon.png">
<!--    <link rel="icon" type="image/png" sizes="32x32" href="/web/img/favicon/favicon-32x32.png">-->
<!--    <link rel="icon" type="image/png" sizes="16x16" href="/web/img/favicon/favicon-16x16.png">-->
    <link rel="icon" type="image/png" sizes="16x16" href="/web/img/favicon/logo_v2.PNG">
    <link rel="mask-icon" href="/web/img/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <!-- Vendor CSS -->
    <link rel="stylesheet" href="/web/css/libs.bundle.css"/>

    <!-- Main CSS -->
    <link rel="stylesheet" href="/web/css/theme.bundle.css"/>

    <!-- Fix for custom scrollbar if JS is disabled-->
    <noscript>
        <style>
            /**
          * Reinstate scrolling for non-JS clients
          */
            .simplebar-content-wrapper {
                overflow: auto;
            }
        </style>
    </noscript>

    <style>
        .error{
            width: 100%;
            color: red;
            font-size: 15px;
            padding-top: 10px;
        }
    </style>

    <!-- Page Title -->
    <title>HTQ Shop</title>

</head>

<body class="">

<!-- Main Section-->
<section class="mt-0  vh-lg-100">
    <!-- Page Content Goes Here -->
    <div class="container">
        <div class="row g-0 vh-lg-100">
            <div class="col-lg-7 pt-5 pt-lg-10">
                <div class="pe-lg-5">
                    <!-- Logo-->
                    <a class="navbar-brand fw-bold fs-3 flex-shrink-0 mx-0 px-0" href="/shop">
                        <div class="d-flex align-items-center">
                            <!-- <svg class="f-w-7" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 77.53 72.26">
                              <path
                                d="M10.43,54.2h0L0,36.13,10.43,18.06,20.86,0H41.72L10.43,54.2Zm67.1-7.83L73,54.2,68.49,62,45,48.47,31.29,72.26H20.86l-5.22-9L52.15,0H62.58l5.21,9L54.06,32.82,77.53,46.37Z"
                                fill="currentColor" fill-rule="evenodd" />
                            </svg> -->
                            <picture class="f-w-16">
                                <img class="img-fluid d-table mx-auto" src="/web/img/logos/logo.svg" alt="">
                            </picture>
                        </div>
                    </a>
                    <!-- / Logo-->
                    <nav class="d-none d-md-block">
                        <ul class="list-unstyled d-flex justify-content-start mt-4 align-items-center fw-bolder small">
                            <li class="me-4"><a class="nav-link-checkout ">Giỏ hàng</a></li>
                            <li class="me-4"><a class="nav-link-checkout nav-link-last active">Chi tiết thanh toán</a></li>
<!--                            <li><a class="nav-link-checkout nav-link-last ">Phương thức thanh toán</a></li>-->
                        </ul>
                    </nav>
                    <form class="mt-5" id="checkout-form">
                        <!-- Checkout Panel Information-->
                        <div class="d-flex justify-content-between align-items-center mb-4 border-bottom pb-4">
                            <h3 class="fs-5 fw-bolder m-0 lh-1">Thông tin liên hệ</h3>
<!--                            <small class="text-muted fw-bolder">Already registered? <a-->
<!--                                    href="/shop/login">Login</a></small>-->
                        </div>
                        <div class="row">
                            <!-- Full Name-->
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label for="fullNameBilling" class="form-label">Họ tên</label>
                                    <input type="text" class="form-control" id="fullNameBilling" placeholder="Nhập họ tên"
                                           value="" name="name-billing" required>
                                </div>
                            </div>

                            <!-- Phone-->
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label for="phoneBilling" class="form-label">Số điện thoại</label>
                                    <input type="text" class="form-control" id="phoneBilling" placeholder="Nhập số điện thoại"
                                           value="" name="phone-billing" required>
                                </div>
                            </div>

                            <!-- Email-->
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="emailBilling" class="form-label">Email</label>
                                    <input type="email" class="form-control" id="emailBilling" placeholder="Nhập email"
                                        name="email-billing" required>
                                </div>

                                <!-- Mailing List Signup-->
<!--                                <div class="form-group form-check m-0">-->
<!--                                    <input type="checkbox" class="form-check-input" id="add-mailinglist" checked>-->
<!--                                    <label class="form-check-label small text-muted" for="add-mailinglist">Keep me-->
<!--                                        updated with your-->
<!--                                        latest news and offers</label>-->
<!--                                </div>-->
                            </div>
                        </div>

                        <h3 class="fs-5 mt-5 fw-bolder mb-4 border-bottom pb-4">Địa chỉ giao hàng</h3>
                        <div class="row">
                            <!-- First Name-->
<!--                            <div class="col-sm-6">-->
<!--                                <div class="form-group">-->
<!--                                    <label for="firstName" class="form-label">First name</label>-->
<!--                                    <input type="text" class="form-control" id="firstName" placeholder="" value=""-->
<!--                                           required="">-->
<!--                                </div>-->
<!--                            </div>-->

                            <!-- Last Name-->
<!--                            <div class="col-sm-6">-->
<!--                                <div class="form-group">-->
<!--                                    <label for="lastName" class="form-label">Last name</label>-->
<!--                                    <input type="text" class="form-control" id="lastName" placeholder="" value=""-->
<!--                                           required="">-->
<!--                                </div>-->
<!--                            </div>-->

                            <!-- Address-->
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="addressBilling" class="form-label">Địa chỉ</label>
                                    <input type="text" class="form-control" id="addressBilling"
                                           placeholder="Nhập địa chỉ" name="address-billing"
                                           required>
                                </div>
                            </div>

                            <!-- Country-->
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="country" class="form-label">Tỉnh/Thành phố</label>
                                    <select class="form-select" id="country" name="country-billing" required>
<!--                                        <option value="">Please Select...</option>-->
<!--                                        <option>United States</option>-->
                                    </select>
                                </div>
                            </div>

                            <!-- State-->
<!--                            <div class="col-md-6">-->
<!--                                <div class="form-group">-->
<!--                                    <label for="state" class="form-label">Ghi chú đơn hàng</label>-->
<!--                                    <select class="form-select" id="state" required="">-->
<!--                                        <option value="">Please Select...</option>-->
<!--                                        <option>California</option>-->
<!--                                    </select>-->
<!--                                </div>-->
<!--                            </div>-->

                            <!-- Post Code-->
<!--                            <div class="col-md-6">-->
<!--                                <div class="form-group">-->
<!--                                    <label for="zip" class="form-label">Zip/Post Code</label>-->
<!--                                    <input type="text" class="form-control" id="zip" placeholder="" required="">-->
<!--                                </div>-->
<!--                            </div>-->
                        </div>

                        <h3 class="fs-5 mt-5 fw-bolder mb-4 border-bottom pb-4">Thông tin bổ sung</h3>
                        <div class="mt-4 d-flex justify-content-between align-items-center">
                            <div class="form-group col-12">
                                <label for="note" class="form-label">Ghi chú đơn hàng (tùy chọn)</label>
                                <textarea class="form-control" id="note" rows="3"></textarea>
                            </div>
                        </div>

<!--                        <div class="pt-5 mt-5 pb-5 border-top d-flex justify-content-md-end align-items-center">-->
<!--                            <button type="button" class="btn btn-dark w-100 w-md-auto" role="button"-->
<!--                            id="next-to-payment">Tiếp tục đến phương thức thanh toán</button>-->
<!--                        </div>-->
                    </form>
                </div>
            </div>
            <div class="col-12 col-lg-5 bg-light pt-lg-10 aside-checkout pb-5 pb-lg-0 my-5 my-lg-0">
                <div class="p-4 py-lg-0 pe-lg-0 ps-lg-5">
                    <div class="pb-3" id="cart-items">
                        <!-- Cart Item-->
<!--                        <div class="row mx-0 py-4 g-0 border-bottom">-->
<!--                            <div class="col-2 position-relative">-->
<!--                                <span class="checkout-item-qty">3</span>-->
<!--                                <picture class="d-block border">-->
<!--                                    <img class="img-fluid" src="/web/img/products/product-cart-1.jpg"-->
<!--                                         alt="HTML Bootstrap Template by Pixel Rocket">-->
<!--                                </picture>-->
<!--                            </div>-->
<!--                            <div class="col-9 offset-1">-->
<!--                                <div>-->
<!--                                    <h6 class="justify-content-between d-flex align-items-start mb-2">-->
<!--                                        Nike Air VaporMax 2021-->

<!--                                    </h6>-->
<!--                                    <div class="d-block text-muted fw-bolder text-uppercase fs-9">-->
<!--                                        <span id="product-size">Size: 9</span> /-->
<!--                                        <span id="product-color">Màu: Blue</span>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                                <p class="fw-bolder text-end text-muted m-0">$85.00</p>-->
<!--                            </div>-->
<!--                        </div> &lt;!&ndash; / Cart Item&ndash;&gt;-->
<!--                        &lt;!&ndash; Cart Item&ndash;&gt;-->
<!--                        <div class="row mx-0 py-4 g-0 border-bottom">-->
<!--                            <div class="col-2 position-relative">-->
<!--                                <span class="checkout-item-qty">3</span>-->
<!--                                <picture class="d-block border">-->
<!--                                    <img class="img-fluid" src="/web/img/products/product-cart-2.jpg"-->
<!--                                         alt="HTML Bootstrap Template by Pixel Rocket">-->
<!--                                </picture>-->
<!--                            </div>-->
<!--                            <div class="col-9 offset-1">-->
<!--                                <div>-->
<!--                                    <h6 class="justify-content-between d-flex align-items-start mb-2">-->
<!--                                        Nike ZoomX Vaporfly-->
<!--                                        <i class="ri-close-line ms-3"></i>-->
<!--                                    </h6>-->
<!--                                    <span class="d-block text-muted fw-bolder text-uppercase fs-9">Size: 11 / Qty: 1</span>-->
<!--                                </div>-->
<!--                                <p class="fw-bolder text-end text-muted m-0">$125.00</p>-->
<!--                            </div>-->
<!--                        </div> &lt;!&ndash; / Cart Item&ndash;&gt;-->
                    </div>
<!--                    <div class="py-4 border-bottom">-->
<!--                        <div class="d-flex justify-content-between align-items-center mb-2">-->
<!--                            <p class="m-0 fw-bolder fs-6">Subtotal</p>-->
<!--                            <p class="m-0 fs-6 fw-bolder">$422.99</p>-->
<!--                        </div>-->
<!--                        <div class="d-flex justify-content-between align-items-center ">-->
<!--                            <p class="m-0 fw-bolder fs-6">Shipping</p>-->
<!--                            <p class="m-0 fs-6 fw-bolder">$8.95</p>-->
<!--                        </div>-->
<!--                    </div>-->
                    <div class="py-4 border-bottom">
                        <div class="d-flex justify-content-between">
                            <div>
                                <p class="m-0 fw-bold fs-5">Tạm tính</p>
<!--                                <span class="text-muted small">Inc $45.89 sales tax</span>-->
                            </div>
                            <p class="m-0 fs-5 fw-bold" id="total-price">$422.99</p>
                        </div>
                    </div>
<!--                    <div class="py-4">-->
<!--                        <div class="input-group mb-0">-->
<!--                            <input type="text" class="form-control" placeholder="Enter your coupon code">-->
<!--                            <button class="btn btn-dark btn-sm px-4">Apply</button>-->
<!--                        </div>-->
<!--                    </div>-->
                </div>
                <div class="p-4 py-lg-0 pe-lg-0 ps-lg-5 mt-5">
                    <h3 class="fs-5 fw-bolder mb-4 pb-2">Thông tin thanh toán</h3>
                    <!-- Payment Option-->
                    <div class="col-12">
                        <div class="form-check form-group form-check-custom form-radio-custom mb-3">
                            <input class="form-check-input" type="radio" name="checkoutPaymentMethod"
                                   id="checoutPaymentStripe"
                                   checked>
                            <label class="form-check-label" for="checoutPaymentStripe">
                                      <span class="d-flex justify-content-between align-items-start">
                                        <span>
                                          <span class="mb-0 fw-bolder d-block">Thanh toán khi giao hàng</span>
                                        </span>
                                          <!--                        <i class="ri-bank-card-line"></i>-->
                                      </span>
                            </label>
                        </div>
                    </div>

                    <!-- Payment Option-->
                    <div class="col-12">
                        <div class="form-check form-group form-check-custom form-radio-custom mb-3">
                            <input class="form-check-input" type="radio" name="checkoutPaymentMethod"
                                   id="checkoutPaymentPaypal">
                            <label class="form-check-label" for="checkoutPaymentPaypal">
                                      <span class="d-flex justify-content-between align-items-start">
                                        <span>
                                          <span class="mb-0 fw-bolder d-block">Thanh toán qua VNPay</span>
                                        </span>
                                          <!--                        <i class="ri-paypal-line"></i>-->
                                          <i class="ri-bank-card-line"></i>
                                      </span>
                            </label>
                            <div class="paypal-details bg-white p-4 d-none my-3 fw-bolder">
                                Nhấn vào nút "Thanh toán online" và sau đó bạn sẽ được chuyển qua trang thanh toán của VNPay.
                                <div class="col-md-12 mt-3">
                                    <button type="button" class="btn btn-dark w-100 w-md-auto"
                                       role="button" id="online-payment-btn">
                                        Thanh toán online</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="pt-3 mt-3 pb-5 border-top d-flex justify-content-md-end align-items-center">
                        <button type="button" class="btn btn-dark w-100 w-md-auto" role="button"
                        id="next-to-payment">Đặt hàng</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /Page Content -->
</section>
<!-- / Main Section-->

<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.6.3.js"
        integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.css"
      integrity="sha512-3pIirOrwegjM6erE5gPSwkUzO+3cTjpnV9lexlNZqvupR64iZBnOOTiiLPb9M36zpMScbmUNIcHUqKD47M719g=="
      crossorigin="anonymous" referrerpolicy="no-referrer" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"
        integrity="sha512-VEd+nq25CkR676O+pLBnDW09R7VQX9Mdiij052gVCp5yVH3jGtH70Ho/UUv4mJDsEdTvqRCFZg0NKGiojGnUCw=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<!-- Theme JS -->
<!-- Vendor JS -->
<script src="/web/js/vendor.bundle.js"></script>

<!-- Theme JS -->
<script src="/web/js/theme.bundle.js"></script>

<script src="/web/custom/js/checkout.js"></script>
<script src="/web/custom/js/validate-checkout.js"></script>

</body>

</html>