<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<!-- Head -->

<head>
  <!-- Page Meta Tags-->
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <meta name="keywords" content="">

  <!-- Custom Google Fonts-->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link
          href="https://fonts.googleapis.com/css2?family=Oswald:wght@500;600&family=Roboto:wght@300;400;700&display=auto"
          rel="stylesheet">

  <!-- Favicon -->
  <link rel="apple-touch-icon" sizes="180x180" href="/web/img/favicon/apple-touch-icon.png">
<!--  <link rel="icon" type="image/png" sizes="32x32" href="/web/img/favicon/favicon-32x32.png">-->
<!--  <link rel="icon" type="image/png" sizes="16x16" href="/web/img/favicon/favicon-16x16.png">-->
  <link rel="icon" type="image/png" sizes="16x16" href="/web/img/favicon/logo_v2.PNG">
  <link rel="mask-icon" href="/web/img/favicon/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">

  <!-- Vendor CSS -->
  <link rel="stylesheet" href="/web/css/libs.bundle.css"/>

  <!-- Main CSS -->
  <link rel="stylesheet" href="/web/css/theme.bundle.css"/>


<!--  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer" />-->


  <!-- Fix for custom scrollbar if JS is disabled-->
  <noscript>
    <style>
      /**
    * Reinstate scrolling for non-JS clients
    */
      .simplebar-content-wrapper {
        overflow: auto;
      }
    </style>
  </noscript>

  <!-- Page Title -->
  <title>HTQ Shop</title>

</head>

<body class="">

<!-- Navbar -->
<!-- Navbar -->
<nav th:fragment="topMenu" id="topMenu" class="navbar navbar-expand-lg navbar-light bg-white flex-column border-0  ">
  <div class="container-fluid">
    <div class="w-100">
      <div class="d-flex justify-content-between align-items-center flex-wrap">

        <!-- Logo-->
        <a class="navbar-brand fw-bold fs-3 m-0 p-0 flex-shrink-0 order-0" href="/shop">
          <!-- <div class="d-flex align-items-center">
              <svg class="f-w-7" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 77.53 72.26">
                  <path
                      d="M10.43,54.2h0L0,36.13,10.43,18.06,20.86,0H41.72L10.43,54.2Zm67.1-7.83L73,54.2,68.49,62,45,48.47,31.29,72.26H20.86l-5.22-9L52.15,0H62.58l5.21,9L54.06,32.82,77.53,46.37Z"
                      fill="currentColor" fill-rule="evenodd" />
              </svg>
          </div> -->
          <div class="d-flex align-items-center">
            <picture class="f-w-16">
              <img class="img-fluid d-table mx-auto" src="/web/img/logos/logo.svg" alt="">
            </picture>
          </div>
        </a>
        <!-- / Logo-->

        <!-- Navbar Icons-->
        <ul class="list-unstyled mb-0 d-flex align-items-center order-1 order-lg-2 nav-sidelinks">

          <!-- Mobile Nav Toggler-->
          <li class="d-lg-none">
                            <span class="nav-link text-body d-flex align-items-center cursor-pointer"
                                  data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                                  aria-controls="navbarNavDropdown" aria-expanded="false"
                                  aria-label="Toggle navigation"><i class="ri-menu-line ri-lg me-1"></i> Menu</span>
          </li>
          <!-- /Mobile Nav Toggler-->

          <!-- Navbar Search-->
          <li class="d-none d-sm-block">
            <span class="nav-link text-body search-trigger cursor-pointer">Tìm kiếm</span>

            <!-- Search navbar overlay-->
            <div class="navbar-search d-none">
              <form class="input-group mb-3 h-100">
                <button type="submit" class="input-group-text px-4 bg-transparent border-0" id="search-btn"><i
                                            class="ri-search-line ri-lg"></i></button>
                <input type="text" class="form-control text-body bg-transparent border-0"
                       placeholder="Nhập tên sản phẩm..." id="search-input" value="">
                <span
                        class="input-group-text px-4 cursor-pointer disable-child-pointer close-search bg-transparent border-0"><i
                        class="ri-close-circle-line ri-lg"></i></span>
              </form>
            </div>
            <div class="search-overlay"></div>
            <!-- / Search navbar overlay-->

          </li>
          <!-- /Navbar Search-->

          <!-- Navbar Login-->
          <li class="d-flex justify-content-between align-items-center">
            <th:block sec:authorize="not isAuthenticated()">
              <a class="nav-link text-body" href="/shop/login">Đăng nhập</a>/
              <a class="nav-link text-body" href="/shop/register">Đăng ký</a>
            </th:block>
            <th:block sec:authorize="isAuthenticated()">
              <th:block sec:authorize="hasAnyRole('ADMIN', 'EMPLOYEE')">
                <a class="nav-link text-body" href="/shop/login">Đăng nhập</a>/
                <a class="nav-link text-body" href="/shop/register">Đăng ký</a>
              </th:block>
              <th:block sec:authorize="hasRole('CUSTOMER')">
<!--                <a class="nav-link text-body"  href="/shop/account">Tài khoản</a>/-->
                <div class="nav-item dropdown">
                  <a class="nav-link text-body dropdown-toggle d-flex align-items-center" href="#" role="button" data-bs-toggle="dropdown"
                     aria-expanded="false">
                    <i class="ri-account-circle-fill" style="font-size: 25px;"></i>
                    <span>Tài khoản</span>
                  </a>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="/shop/account">Thông tin cá nhân</a></li>
                    <li><a class="dropdown-item" href="/shop/orders">Thông tin đơn hàng</a></li>
                    <li><a class="dropdown-item" href="javascript:void(0)" id="btn-logout">Đăng xuất</a></li>
                  </ul>
                </div>
              </th:block>
            </th:block>
          </li>
          <!-- /Navbar Login-->

          <!-- Navbar Cart Icon-->
          <li class="ms-1 d-inline-block position-relative dropdown-cart">
            <a href="/shop/cart" class="nav-link me-0 disable-child-pointer border-0 p-0 bg-transparent text-body"
                    type="button">
              <span
                    style="min-width: 1.2rem; min-height: 1.2rem; width: unset; height: unset;"
                    id="number-items-cart"></span>
              <span><i class="ri-shopping-cart-fill" style="font-size: 25px;"></i></span>
<!--              <span><i class="fas fa-shopping-cart" style="font-size: 25px;"></i></span>-->
            </a>
<!--            <div class="cart-dropdown dropdown-menu">-->

<!--              &lt;!&ndash; Cart Header&ndash;&gt;-->
<!--              <div class="d-flex justify-content-between align-items-center border-bottom pt-3 pb-4">-->
<!--                <h6 class="fw-bolder m-0">Cart Summary (2 items)</h6>-->
<!--                <i class="ri-close-circle-line text-muted ri-lg cursor-pointer btn-close-cart"></i>-->
<!--              </div>-->
<!--              &lt;!&ndash; / Cart Header&ndash;&gt;-->

<!--              &lt;!&ndash; Cart Items&ndash;&gt;-->
<!--              <div>-->

<!--                &lt;!&ndash; Cart Product&ndash;&gt;-->
<!--                <div class="row mx-0 py-4 g-0 border-bottom">-->
<!--                  <div class="col-2 position-relative">-->
<!--                    <picture class="d-block ">-->
<!--                      <img class="img-fluid" src="/web/img/products/product-cart-1.jpg"-->
<!--                           alt="HTML Bootstrap Template by Pixel Rocket">-->
<!--                    </picture>-->
<!--                  </div>-->
<!--                  <div class="col-9 offset-1">-->
<!--                    <div>-->
<!--                      <h6 class="justify-content-between d-flex align-items-start mb-2">-->
<!--                        Nike Air VaporMax 2021-->
<!--                        <i class="ri-close-line ms-3"></i>-->
<!--                      </h6>-->
<!--                      <span class="d-block text-muted fw-bolder text-uppercase fs-9">Size: 9 /-->
<!--                                                    Qty: 1</span>-->
<!--                    </div>-->
<!--                    <p class="fw-bolder text-end text-muted m-0">$85.00</p>-->
<!--                  </div>-->
<!--                </div>-->
<!--                &lt;!&ndash; Cart Product&ndash;&gt;-->
<!--                <div class="row mx-0 py-4 g-0 border-bottom">-->
<!--                  <div class="col-2 position-relative">-->
<!--                    <picture class="d-block ">-->
<!--                      <img class="img-fluid" src="/web/img/products/product-cart-2.jpg"-->
<!--                           alt="HTML Bootstrap Template by Pixel Rocket">-->
<!--                    </picture>-->
<!--                  </div>-->
<!--                  <div class="col-9 offset-1">-->
<!--                    <div>-->
<!--                      <h6 class="justify-content-between d-flex align-items-start mb-2">-->
<!--                        Nike ZoomX Vaporfly-->
<!--                        <i class="ri-close-line ms-3"></i>-->
<!--                      </h6>-->
<!--                      <span class="d-block text-muted fw-bolder text-uppercase fs-9">Size: 11-->
<!--                                                    / Qty: 1</span>-->
<!--                    </div>-->
<!--                    <p class="fw-bolder text-end text-muted m-0">$125.00</p>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
<!--              &lt;!&ndash; /Cart Items&ndash;&gt;-->

<!--              &lt;!&ndash; Cart Summary&ndash;&gt;-->
<!--              <div>-->
<!--                <div class="pt-3">-->
<!--                  <div-->
<!--                          class="d-flex flex-column flex-md-row justify-content-md-between align-items-md-start mb-4 mb-md-2">-->
<!--                    <div>-->
<!--                      <p class="m-0 fw-bold fs-5">Grand Total</p>-->
<!--                      <span class="text-muted small">Inc $45.89 sales tax</span>-->
<!--                    </div>-->
<!--                    <p class="m-0 fs-5 fw-bold">$422.99</p>-->
<!--                  </div>-->
<!--                </div>-->
<!--                <a href="/shop/cart" class="btn btn-outline-dark w-100 text-center mt-4"-->
<!--                   role="button">View Cart</a>-->
<!--                <a href="/shop/checkout" class="btn btn-dark w-100 text-center mt-2"-->
<!--                   role="button">Proceed To Checkout</a>-->
<!--              </div>-->
<!--              &lt;!&ndash; / Cart Summary&ndash;&gt;-->
<!--            </div>-->


          </li>
          <!-- /Navbar Cart Icon-->

        </ul>
        <!-- Navbar Icons-->

        <!-- Main Navigation-->
        <div class="flex-shrink-0 collapse navbar-collapse navbar-collapse-light w-auto flex-grow-1 order-2 order-lg-1"
             id="navbarNavDropdown">

          <!-- Menu-->
          <ul class="navbar-nav mx-auto mb-2 mb-lg-0" id="menu-category">
<!--            <li class="nav-item dropdown dropdown position-static">-->
<!--              <a class="nav-link" href="/shop/category" role="button">-->
<!--                Nam-->
<!--              </a>-->
<!--            </li>-->
<!--            <li class="nav-item dropdown">-->
<!--              <a class="nav-link" href="/shop/category" role="button">-->
<!--                Nữ-->
<!--              </a>-->
<!--            </li>-->
<!--            <li class="nav-item">-->
<!--              <a class="nav-link" href="/shop/category" role="button">-->
<!--                Trẻ em-->
<!--              </a>-->
<!--            </li>-->
<!--            <li class="nav-item">-->
<!--              <a class="nav-link" href="/shop/category" role="button">-->
<!--                Tất cả sản phẩm-->
<!--              </a>-->
<!--            </li>-->
<!--            <li class="nav-item dropdown">-->
<!--              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"-->
<!--                 aria-expanded="false">-->
<!--                Pages-->
<!--              </a>-->
<!--              <ul class="dropdown-menu">-->
<!--                <li><a class="dropdown-item" href="./index.html">Homepage</a></li>-->
<!--                <li><a class="dropdown-item" href="./category.html">Category</a></li>-->
<!--                <li><a class="dropdown-item" href="./product.html">Product</a></li>-->
<!--                <li><a class="dropdown-item" href="./cart.html">Cart</a></li>-->
<!--                <li><a class="dropdown-item" href="./checkout.html">Checkout</a></li>-->
<!--                <li><a class="dropdown-item" href="./login.html">Login</a></li>-->
<!--                <li><a class="dropdown-item" href="./register.html">Register</a></li>-->
<!--                <li><a class="dropdown-item" href="./forgotten-password.html">Forgotten Password</a>-->
<!--                </li>-->
<!--              </ul>-->
<!--            </li>-->
          </ul> <!-- / Menu-->

        </div>
        <!-- / Main Navigation-->

      </div>
    </div>
  </div>
</nav>
<!-- / Navbar-->

<!-- Theme JS -->
<!-- Vendor JS -->
<script src="/web/js/vendor.bundle.js"></script>

<!-- Theme JS -->
<script src="/web/js/theme.bundle.js"></script>

</body>

</html>