<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin 2 - Product</title>

    <!-- Custom fonts for this template-->
    <link href="/admin/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="/admin/css/sb-admin-2.min.css" rel="stylesheet">

    <!-- Custom styles for this page -->
    <link href="/admin/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">

    <!-- Select2 -->
    <link rel="stylesheet" href="/admin/css/select2.min.css">
    <link rel="stylesheet" href="/admin/css/select2-bootstrap4.min.css">

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul th:replace="~{admin/menu :: #accordionSidebar}"></ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="main-content">

                <!-- Topbar -->
                <nav th:replace="~{admin/menu :: #topbar}"></nav>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <div class="row py-2 justify-content-center">
                        <div class="col-11">
                            <div class="row">
                                <div class="col-6">
                                    <a href="/admin/products">
                                        <button type="button" class="btn btn-default">
                                            <i class="fas fa-chevron-left"></i> Quay lại
                                        </button>
                                    </a>
                                    <button type="button" class="btn btn-info px-4" id="update-product">
                                        Cập nhật
                                    </button>
                                    <button type="button" class="btn btn-danger px-4" data-toggle="modal"
                                        data-target="#delete-product">
                                        Xóa
                                    </button>
                                </div>
                                <!-- Xóa sp -->
                                <div class="modal fade" id="delete-product" style="display: none;" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h4 class="modal-title">Xóa sản phẩm</h4>
                                                <button type="button" class="close" data-dismiss="modal"
                                                    aria-label="Close">
                                                    <span aria-hidden="true">×</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <p>Sản phẩm đã xóa không thể khôi phục</p>
                                                <p>Bạn có chắc chắn muốn xóa sản phẩm?</p>
                                            </div>
                                            <div class="modal-footer justify-content-between">
                                                <button type="button" class="btn btn-default"
                                                    data-dismiss="modal">Hủy</button>
                                                <button type="button" class="btn btn-primary"
                                                    id="btn-delete-product">Xóa</button>
                                            </div>
                                        </div>

                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row justify-content-center">
                        <div class="col-11">
                            <div class="card">
                                <div class="card-body">
                                    <div class="row justify-content-center">
                                        <div class="col-md-11">
                                            <div class="text-bold" style="font-size: 18px;">Thông tin chung</div>
                                            <hr>
                                            <br>
                                            <div class="row">
                                                <div class="col-12">
                                                    <div class="form-group">
                                                        <label for="name">Tên sản phẩm</label>
                                                        <input type="text" class="form-control" id="name" />
                                                    </div>
                                                </div>
                                                <div class="col-12">
                                                    <div class="form-group">
                                                        <label>Nhóm sản phẩm</label>
                                                        <div class="select2-purple">
                                                            <select class="select2 form-control" multiple="multiple"
                                                                id="category">
                                                                <option value="">Nam</option>
                                                                <option value="">Nữ</option>
                                                                <option value="">Trẻ em</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label for="content">Mô tả sản phẩm</label>
                                                <textarea id="content" class="form-control" rows="5"></textarea>
                                            </div>

                                            <div class="form-group">
                                                <label for="description">Mô tả ngắn</label>
                                                <textarea id="description" class="form-control" rows="3"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-11">
                            <div class="card">
                                <div class="card-body">
                                    <div class="row justify-content-center">
                                        <div class="col-md-11">
                                            <div class="text-bold" style="font-size: 18px;">Hình ảnh sản phẩm</div>
                                            <hr>
                                            <div class="form-group">
                                                <div class="d-flex justify-content-between">
                                                    <div>
                                                        <label for="input-file"
                                                            class="btn btn-warning btn-flat font-weight-normal"
                                                            style="border-radius: 0.25rem;">
                                                            Upload ảnh</label>
                                                        <input type="file" id="input-file" class="d-none" multiple>
                                                    </div>
                                                </div>

                                                <div class="image-container mt-4 mb-4">
                                                    <output class="row" id="result"></output>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-11">
                            <div class="card">
                                <div class="card-body">
                                    <div class="row justify-content-center">
                                        <div class="col-md-11">
                                            <div class="text-bold" style="font-size: 18px;">Phiên bản sản phẩm</div>
                                            <hr>
                                            <div class="form-group" id="variants">

                                            </div>
                                            <div class="col-12 d-flex justify-content-end">
                                                <button type="button" class="btn btn-info px-4" id="add-variant"
                                                    data-toggle="modal" data-target="#modal-add-variant">
                                                    Thêm phiên bản
                                                </button>
                                            </div>
                                            <!-- Create variant-->
                                            <div class="modal fade" id="modal-add-variant" style="display: none;"
                                                aria-hidden="true">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h4 class="modal-title">Thông tin phiên bản</h4>
                                                            <button type="button" class="close" data-dismiss="modal"
                                                                aria-label="Close">
                                                                <span aria-hidden="true">×</span>
                                                            </button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <div class="form-group input-row pt-2">
                                                                <label for="createSku">Sku</label>
                                                                <input type="text" class="form-control" id="createSku"
                                                                    placeholder="Enter sku">
                                                            </div>
                                                            <div class="form-group input-row pt-2">
                                                                <label for="createColor">Màu sắc</label>
                                                                <input type="text" class="form-control" id="createColor"
                                                                    placeholder="Enter color">
                                                            </div>
                                                            <div class="form-group input-row pt-2">
                                                                <label for="createSize">Kích thước</label>
                                                                <input type="text" class="form-control" id="createSize"
                                                                    placeholder="Enter size">
                                                            </div>
                                                            <div class="form-group pt-2">
                                                                <label for="createPrice">Giá</label>
                                                                <input type="number" class="form-control"
                                                                    id="createPrice" placeholder="Enter price">
                                                            </div>
                                                        </div>
                                                        <div class="modal-footer justify-content-between">
                                                            <button type="button" class="btn btn-default"
                                                                data-dismiss="modal">Hủy</button>
                                                            <button type="button" class="btn btn-primary"
                                                                id="create-variant" data-dismiss="modal">Lưu</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->

                <!-- chỉnh sửa địa chỉ nhận hàng -->
                <div class="modal fade" id="modal-update-shipping" style="display: none;" aria-hidden="true">
                    <div class="modal-dialog">
                        <form class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">Thông tin giao hàng</h4>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">×</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="form-group input-row pt-2">
                                    <label for="updateName">Họ và tên</label>
                                    <input type="text" class="form-control" id="updateName" placeholder="Enter name">
                                </div>
                                <div class="form-group input-row pt-2">
                                    <label for="updatePhone">Số điện thoại</label>
                                    <input type="text" class="form-control" id="updatePhone" placeholder="Enter phone">
                                </div>
                                <div class="form-group input-row pt-2">
                                    <label for="updateEmail">Email</label>
                                    <input type="email" class="form-control" id="updateEmail" placeholder="Enter email">
                                </div>
                                <div class="form-group input-row pt-2">
                                    <label for="updateAddress">Địa chỉ</label>
                                    <input type="text" class="form-control" id="updateAddress"
                                        placeholder="Enter address">
                                </div>
                                <div class="form-group pt-2">
                                    <label>Tỉnh/Thành phố</label>
                                    <select class="py-1" id="select-province" style="width: 100%;"></select>
                                </div>
                            </div>
                            <div class="modal-footer justify-content-between">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Hủy</button>
                                <button type="button" class="btn btn-primary" id="btn-update-shipping">Lưu</button>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; HTQ Shop 2023</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="/logout">Logout</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="/admin/vendor/jquery/jquery.min.js"></script>
    <script src="/admin/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="/admin/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="/admin/js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="/admin/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="/admin/vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="/admin/js/demo/datatables-demo.js"></script>

    <script src="/admin/js/select2.full.min.js"></script>

    <script>
        $(function () {
            //Initialize Select2 Elements
            $('.select2').select2()

            //Initialize Select2 Elements
            $('.select2bs4').select2({
                theme: 'bootstrap4'
            })
        })
    </script>


</body>

</html>